<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
<section class="" id="map" style="">

    <div style="
    background:#FFF;
    text-align:center;
    margin:25px 35px;
    display:none;
    ">
        <h4 style="font-size:21px;">Карта выполненных проектов</h4>
        <p>На этой карте отмечены объекты на которым были выполнены работы.</p>
        <p>Найдите свой поселок — возможно, мы уже установили автономную канализацию Вашим соседям!</p>
    </div>

    <div class="bottom-contacts__desc">
        <span class="bottom-contacts__name">BUR-FAST</span>
        <ul class="bottom-contacts__info" style="    list-style: none;">
            <li class="bottom-contacts__li bottom-contacts__address unhover">Комсомольская ул., 15А, Люберцы</li>
            <li class="bottom-contacts__li bottom-contacts__phone unhover">
                <span class="call_phone_2"><a class="bottom-contacts__tel" href="tel:+7 (495) 105-53-59">+7 (495) 105-53-59</a></span><br>
                <span class="call_phone_2"><a class="bottom-contacts__tel" href="tel:+7 (985) 050-52-63">+7 (985) 050-52-63</a></span><br>
                <span class="call_phone_2"><a class="bottom-contacts__tel" href="tel:+7 (964) 646-19-95">+7 (964) 646-19-95</a></span><br>
            </li>
            <li class="bottom-contacts__li bottom-contacts__time">Мы работаем:<br> с 8:00 до 21:00 БЕЗ ВЫХОДНЫХ</li>
        </ul>
        <a class="btn-link  popup-with-move-anim" href="#small-dialog" id="popup_up">Узнать больше</a>
    </div>
</section>
