{% for module in modules %}
{{ module }}
{% endfor %}

{% if (home_url == '/') %}
<div class="main-descr">
    <div class="main-descr__left-txt">
        <div id="page-title">
            <h1>Арболитовые блоки</h1>
            <div id="bolded-line"></div>
        </div>
        <p>Производство арболитовых блоков по современной технологии Арболит 2.0 – основной вид деятельности нашей компании. Уже более пяти лет мы занимаемся этим, постоянно совершенствуя технологию и улучшая качество продукции. Наша главная цель – производство арболита высокого качества. Мы не экономим на этом ради получения разовой прибыли. Поэтому, если Вы ходите купить арболит и не беспокоиться о его надежности, то, значит, Вы обратились по адресу!</p>

        <p>Арболитовые блоки предназначены для строительства долговечных, теплых и прочных домов. Они отличаются низкой теплопроводностью (т.е. прекрасно сохраняют в доме зимой тепло, а летом прохладу) и при этом являются конструкционными (на них легко можно укладывать железобетонные плиты).</p>

        <p>Блоки из арболита по своим характеристикам превосходят другие известные строительные материалы и даже более того, они имеют упругие свойства (как древесина) и не деформируются при трещинах фундамента. А свойства звукоизоляции вообще максимально приближены к звукопоглощающим материалам.</p>

    </div>
    <div class="main-descr__right-txt flex__ai-c">
       <img src="/image/block2.png" alt="">
    </div>
</div>


<div class="advantage-plus">
   <ul class="plus__catalog">
       <li><span>Экологичность</span>
           <div class="plus__catalog-img">
               <img alt="экологичный арболит" src="/image/plus1.png">
           </div>

           <p>
               Материал только из натуральных компонентов
           </p>
       </li>
       <li><span>Малый вес</span>
           <div class="plus__catalog-img">
               <img alt="малый вес арболита" src="/image/plus2.png">
           </div>

           <p>
               В 3 раза легче кирпича, в 1,5 — керамзитобетона
           </p>
       </li>
       <li><span>Легкость в обработке</span>
           <div class="plus__catalog-img">
               <img alt="легкость обработки арболитовых блоков" src="/image/plus3.png">
           </div>

           <p>
               Отлично поддается рубке, пилению и сверлению
           </p>
       </li>
       <li><span>Огнеупорность</span>
           <div class="plus__catalog-img">
               <img alt="огнеупорность арболита" src="/image/plus4.png">
           </div>

           <p>
               Трудногорючий материал — группа горючести Г1
           </p>
       </li>
       <li><span>Высокая теплоемкость</span>
           <div class="plus__catalog-img">
               <img alt="теплоемкость арболитовых блоков" src="/image/plus5.png">
           </div>

           <p>
               Экономия теплоэнергии 30% в отопительный сезон
           </p>
       </li>
       <li><span>Прочность</span>
           <div class="plus__catalog-img">
               <img alt="прочность арболита" src="/image/plus6.png">
           </div>

           <p>
               Не трескается даже при предельных нагрузках
           </p>
       </li>
   </ul>
</div>

<div class="advantage">

    <h2 class="advantage__title main-title"><span class="title">Почему нас выбирают и рекомендуют?</span></h2>

    <p class="advantage__text">
        Производим высококачественный Российский арболит с идеальной геометрией и плотностью – <strong>600-650 кг на 1м<sup>3</sup></strong>,<br>
        это то, что нужно для строительства надежных, теплых, долговечных зданий и сооружений.&nbsp;
    </p>

    <ul>
        <li>
        <div class="advantage__img">
            <img alt="Большой опыт" src="/image/advantage1.png" style="width: 100px; height: 91px;">
        </div>
        <span>опыт более 7 лет</span>

        <p>
            Мы производим арболит более 7&nbsp;лет, и за это время было построено множество объектов, и наша продукция успела показать себя в практическом применении с самой лучшей стороны.
        </p>

        <div class="advantage__number">
            1
        </div>
        </li>
        <li>
        <div class="advantage__img">
            <img alt="Собственный цех по производству арболита" src="/image/advantage2.png">
        </div>
        <span>Собственное производтво</span>

        <p>
            Мы производим арболит в собственном цеху на профессиональном современном оборудовании и строго следим за соблюдением технологии и качеством на каждом производственном этапе.
        </p>

        <div class="advantage__number">
            2
        </div>
        </li>
        <li>
        <div class="advantage__img">
            <img alt="Приемлемая цена арболита" src="/image/advantage3.png">
        </div>
        <span>Разумная&nbsp;цена</span>

        <p>
            Мы предлагаем арболитовые блоки по доступной цене благодаря наличию собственного производства и оптимизированным бизнес-процессам. При этом качество нашего арболита остается неизменно высоким.
        </p>

        <div class="advantage__number">
            3
        </div>
        </li>
        <li>
        <div class="advantage__img">
            <img alt="сертификаты качества арболита" src="/image/advantage4.png">
        </div>
        <span>Сертификаты качества</span>

        <p>
            Арболит, который мы производим, соответствует всем требованиям безопасности и качества. На всю продукцию имеются подтверждающие сертификаты, которые мы готовы предоставить по запросу.
        </p>

        <div class="advantage__number">
            4
        </div>
        </li>
        <li>
        <div class="advantage__img">
            <img alt="доставка арболитовых блоков" src="/image/advantage5.png">
        </div>
        <span>Выгодная Доставка&nbsp;</span>

        <p>
            Мы доставляем арболит спец-транспортом на ваш объект по минимальной цене. Своим заказчикам мы предлагаем быструю и выгодную доставку в любую точку Московской области.
        </p>

        <div class="advantage__number">
            5
        </div>
        </li>
        <li>
        <div class="advantage__img">
            <img alt="сервис по производству арболита" src="/image/advantage6.png">
        </div>
        <span>Развитый Сервис</span>

        <p>
            Мы постоянно развиваем наш клиентский сервис. Это позволяет нам решать все возникающие у заказчиков вопросы и обрабатывать заказы максимально быстро и качественно.
        </p>

        <div class="advantage__number">
            6
        </div>
        </li>
    </ul>

    <div class="advantage__otzivi">
        <a href="#section-reviews">Отзывы наших клиентов</a>
    </div>
</div>
{% endif %}