<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">

        <li><a href="/arbolitovye-bloki">Арболитовые блоки</a></li>
        <li><a href="/proekty-domov">Проекты домов</a></li>
        <li><a href="/calc">Калькулятор</a></li>
        <li><a href="/delivery">Доставка</a></li>
        <li><a href="/about_us">О компании</a></li>

      </ul>
    </div>
  </nav>
</div>
