.calc-top__header {
    line-height: 25px;
    margin: 35px 0px 35px 0;
}
.calc-btn {
    max-width: 280px;
}
.calc_title {
    font-size: 17px;
    line-height: 29px;
    font-weight: 600;
    padding: 7px 10px 7px;
    background-color: rgba(113, 113, 113, 0.11);
    margin-top: 15px;
    margin-bottom: 10px;
}
.calc-intp {
    margin: 5px  2.5px;
    padding: 7px 5px;
    text-align: left;
}

#wall_table { display: none; }
#aperture_table { display: none; }
#mansard_table { display: none; }

.calcTable thead tr {
    height: 35px;
}
.calcTable thead tr th {
    font-size: 13px;
}
.calcTable thead tr .squareTD {
min-width: 115px;
}
.wh { min-width: 175px; }
.calcTable tbody .squareTD {
    padding-left: 8px;
}
