.delivery_btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    list-style: none;
    margin-bottom: 25px;
}
.delivery_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-width: 250px;
}
.delivery_btn img {
    margin-bottom: 15px;
}
.delivery__text {
    font-size: larger;
}
.delivery__list {
}
.delivery__list li {
    padding: 10px 0;
}
.delivery__box {
    margin: 5% 0;
    border: 5px solid;
    border-color: #eb6d33;
    padding: 4%;
}

.hidden {
    overflow: visible !important;
    height: 650px !important;
}
.account-catalog {
    width: 100%;
    vertical-align: top;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 30px;
}
.account-catalog tbody {
    border: 1px solid #414141;
}
.account-catalog th,
.city-catalog th {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    height: 46px;
    text-align: center;
}
.account-catalog td {
    text-align: center;
    font-size: 14px;
    /*color: #dadada;*/
    height: 25px;
    width: 115px;
    border-right: 1px solid #414141;
}
.account-catalog .p1 {
    padding-top: 5px;
    text-transform: uppercase;
    font-size: 12px;
}
.account-catalog .p2 {
    padding-top: 5px;
    text-transform: none;
    font-size: 12px;
}
.account-catalog img {
    display: block;
    margin: 10px auto 0;
}
.account-catalog td:first-child {
    text-transform: uppercase;
    font-size: 12px;
    width: 180px;
}
.account-catalog td:last-child {
    border-right: none;
}
.account-catalog tr:first-child {
    height: auto;
    border-bottom:none;
}
.account-catalog tr {
    height: 140px;
    border-bottom: 1px solid #414141;
}
.table-city {
    display: flex;
    flex-wrap: wrap;
}
.city-catalog {
    min-width: 185px;
    width: 33.33%;
    color:#333;
}

.city-catalog tr:hover {
    background-color: #999999;
}