
/*! flex */
.flex, .f{display:flex}
.flex__wrap, .flex__w {display:flex;flex-wrap:wrap}
.flex__wrap__ai-center, .flex__w__ai-c {display:flex;flex-wrap:wrap;align-items:center}
.flex__wrap__jc-sb, .flex__w__jc-sb {display:flex;flex-wrap:wrap;justify-content:space-between}
.flex__wrap__jc-sb__ai-center, .flex__w__jc-sb__ai-c {display:flex;flex-wrap:wrap;justify-content:space-between;align-items: center}
.flex__wrap__jc-sa, .flex__w__jc-sa {display:flex;flex-wrap:wrap;justify-content:space-around}
.flex__ai-center, .flex__ai-c {display:flex;align-items:center}
.flex__jc-sb{display:flex;justify-content:space-between}
.flex__jc-sb__ai-center,.flex__jc-sb__ai-c{display:flex;justify-content:space-between;align-items:center}
.flex__jc-sa{display:flex;justify-content:space-around}
.flex__jc-end{display:flex;justify-content:flex-end}
.flex__jc-center, .flex__jc-c{display:flex;justify-content:center}
.flex__jc-sa__ai-center,.flex__jc-sa__ai-c{display:flex;justify-content:space-around;align-items:center}
.flex__colum, .flex__col{display:flex;flex-direction:column}
.flex__colum__ai-center,.flex__col__ai-c{display:flex;flex-direction:column;align-items:center}
.flex__colum__jc-center,.flex__col__jc-c{display:flex;flex-direction:column;justify-content:center}
.flex__colum__all-center,.flex__col__center{display:flex;flex-direction:column;justify-content:center;align-items: center}
.flex__center-all{display:flex;justify-content:center;align-items:center}

/*! Di Custom */
.m-0 {margin: 0}
.p-0 {padding: 0}

.relative{position:relative}
.absolute{position:absolute}
.center{text-align:center}
.tdecor-n{text-decoration:none}
.uppercase{text-transform:uppercase}
.center-v{top:50%;-webkit-transform:translateY(-50%);transform:translateY(-50%)}

.button-reset {
    background: rgba(0,0,0,0);
    border: none;
    cursor: pointer;
    font-family: fa5-proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
}

#page-title{border-bottom:1px solid #e9e9e9;display:block;margin:0 0 25px 0;}
#page-title h1{font-weight:normal;padding:11px 0 26px 0;font-size:24px;}
#page-title span{color:#aaa;}
#bolded-line{text-indent:-9999px;height:3px;width:105px;display:block;background:#72b626;margin-bottom:-2px;}

.main-descr {
    display: flex;
    flex: auto;
}
.main-descr__right-txt {

}

#menu, .btn-inverse, .base-btn, table th {
    font-size: 14px;
    background-color: #c3450c;
    background-image: linear-gradient(to bottom, #ff783a, #8e3913);
    color: #FFF;
    text-align: center;
}
.btn-inverse:hover,
.base-btn:hover {
    background-image: linear-gradient(to bottom, #c3450c, #a73d0d);
}


.plus {
    background: #fff;
    /* #696363; /*#1d1d1d;*/
    padding: 55px 0 50px;
}

/*
.plus__title {
	position: relative;
}
.plus__title:before {
	content: '';
	position: absolute;
	height: 1px;
	width: 320px;
	background: #2c2c2c;
	left: 0;
	top: 18px;
}
.plus__title:after {
	content: '';
	position: absolute;
	height: 1px;
	width: 320px;
	background: #2c2c2c;
	right: 0;
	top: 18px;
}
*/
.plus__text {
    display: block;
    margin: 0 auto;
    width: 655px;
    font-family: 'Roboto-Regular';
    color: #1d1d1d;
    /*#dadada;*/
    font-size: 16px;
    line-height: 24px;
}

.plus__number {
    display: block;
    text-align: center;
    padding: 25px 0;
    border-bottom: 1px solid #2c2c2c;
}

.plus__number li {
    display: block;
    padding-bottom: 10px;
}

.plus__number li p {
    font-family: 'Roboto-Regular';
    color: #333;
    /*#dadada;*/
    font-size: 16px;
    line-height: 24px;
    display: inline-block;
    vertical-align: top;
    width: 575px;
    margin-left: 25px;
    text-align: left;
}

.plus__number li span {
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 35px;
    border-radius: 50%;
    background: #fff;
    font-family: 'Roboto-Black';
    text-align: center;
    font-size: 16px;
    color: #f79300;
    border: 1px solid #333333;
}
.advantage-plus {

    margin-top: 55px;
}
.plus__catalog {
    text-align: center;
    padding: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.plus__catalog li {
    display: inline-block;
    vertical-align: bottom;
    width: 137px;
    margin-right: 34px;
    position: relative;
}

.plus__catalog li:last-child {
    margin-right: 0;
}

.plus__catalog li:nth-child(3) span, .plus__catalog li:nth-child(5) span {
    position: absolute;
    margin-left: -68.5px;
    left: 50%;
    top: -50px;
}

.plus__catalog li span {
    text-align: center;
    font-size: 14px;
    color: #f79300;
    display: block;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.plus__catalog li p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #1d1d1d;
    /*#dadada;*/
    display: block;
    font-family: 'Roboto-Regular';
    padding-top: 25px;
}

.plus__catalog-img {
    display: block;
    width: 137px;
    height: 137px;
    line-height: 137px;
    background: #2d2d2d;
    border-radius: 50%;
}

.plus__catalog-img img {
    display: block;
    margin: 0 auto;
    padding-top: 30px;
}

.advantage {
    background: #fff;
    /* #696363; /*#1d1d1d;*/
    padding: 55px 0;
}
.advantage__title {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 500;
    color: #c3450c;
}

.advantage__text {
    font-size: 16px;
    color: #333;
    /*#dadada;*/
    text-align: center;
    line-height: 24px;
}

.advantage ul {
    margin-top: 85px;
    list-style: none;
    padding-left: 0px;
}

.advantage ul:before, .advantage ul:after {
    display: table;
    clear: both;
    content: '';
}

.advantage li {
    position: relative;
    padding-left: 75px;
    margin-bottom: 70px;
    width: 33.3%;
    float: left;
}

.advantage li:first-child img {
    margin-top: 8px;
}

.advantage li img {
    display: block;
    position: relative;
    z-index: 999;
}

.advantage li span {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ff4f00;
    display: block;
    padding: 10px 0 10px;
    position: relative;
    z-index: 999;
}

.advantage__img {
    height: 105px;
    display: inline-block;
    vertical-align: middle;
}

.advantage li p {
    font-size: 14px;
    color: #1d1d1d;
    /*#dadada;*/
    position: relative;
    z-index: 999;
    line-height: 20px;
}

.description__wrapper .mr0 {
    margin-right: 0;
}

.description__wrapper .mr15 {
    margin-right: 15px;
}

.advantage__number {
    position: absolute;
    left: 20px;
    top: 54px;
    width: 122px;
    height: 122px;
    text-align: center;
    line-height: 120px;
    border-radius: 50%;
    background: #eeeeee;
    color: #fff;
    /*#232121;*/
    font-size: 60px;
}

.advantage__otzivi {
    display: block;
    width: 660px;
    height: 50px;
    line-height: 50px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #333;
}

.advantage__otzivi a {
    text-align: center;
    color: #f79300;
    border-bottom: 1px dashed #f79300;
    font-size: 16px;
}

#map {
    height: 350px;
    width: 100%;
    position: relative;
}
.bottom-contacts__desc {
    width: 35%;
    position: absolute;
    height: 65%;
    top: 10%;
    right: 0%;
    display: flex;
    flex-direction: column;
    padding: 30px 0px 30px 35px;
    background: rgba(255, 255, 255, 0.85);
    align-content: center;
    justify-content: center;
    z-index: 1;
}

.button-group {
    display: flex;
}
.button-group a {
    width: 60%;
}
.button-group button {
    width: 20%!important;
}

.product__btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 35px;
}

.product__btn-link .fa {
    margin-right: 5px;
}

