{{ header }}
<div id="information-calc" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
    <div id="content" class="calc">

    <div class="calc-top">
        <div class="calc-top__header flex__col__center">
            <button type="button" class="btn btn-primary base-btn calc-btn" data-toggle="modal" data-target="#sendProject">
                Отправить проект
            </button>
            <strong>или</strong> 
            <div class="center-txt">рассчитать самостоятельно по форме ниже:</div>
        </div>

        <p>Инструкция по применению калькулятора арболитовых блоков.</p>
        <ol>
            <li>Для большей точности лучше всего рассчитывать объем отдельно по каждому этажу.</li>
            <li>В п.1 выберите толщину стены.</li>
            <li>В п.2 укажите длину, высоту и количество стен.</li>
            <li>В п.3 укажите высоту, ширину и количество проемов.</li>
            <li>Нажмите кнопку «Рассчитать» и данные отобразятся ниже.</li>
            <li>Для расчета полноценного второго этажа и перегородочных стен повторите действия со 2 по 5.</li>
            <li>Если у Вас есть мансардный этаж, то расчет по внешним стенам ведется в п.4 калькулятора. Данные надо вводить согласно представленной ниже схеме.</li>
            <img src="images/kalkulyator-arbolita.png" alt="">
        </ol>
    </div>

<div id="calc_wrapper">


<div class="calc_title">1. Выберите толщину стены.</div>

<div id="wall_select_wrapper">
<select id="wall_width" class="btn">
    <option value="15">15 см</option>
    <option value="25">25 см</option>
    <option value="30">30 см</option>
    <option value="35">35 см</option>
    <option value="40">40 см</option>
    <option value="50">50 см</option>
</select>
</div>

<section>
    <div class="calc_title">2. Добавьте размеры стен для расчета.</div>
    <table id="wall_table_add">
        <thead>
        <td class="wh">Длина стены, м</td>
        <td class="wh">Высота стены, м</td>
        <td class="count">Количество стен</td>
        <td></td>
        </thead>
        <tbody>
        <tr class="wall_tr_add">
            <td class="wh"><input class="btn calc-intp wall_length" placeholder="0" type="text"></td>
            <td class="wh"><input class="btn calc-intp wall_height" placeholder="0" type="text"></td>
            <td class="count"><input class="btn calc-intp wall_count" placeholder="1" type="text"></td>
            <td>
                <input type="hidden" id="num_wall" value="1">
                <button id="add_wall" class="btn btn-primary">Добавить размеры</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="wall_table">
        <table class="calcTable">
            <thead>
                <th class="del" align="center"><i class="fa fa-trash-o"></i></th>
                <th class="wh">Длина стены, м</th>
                <th class="wh">Высота стены стены, м</th>
                <th class="count">Количество стен</th>
                <th class="squareTD">(S) площадь, м</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="calc-itogo">
            <span class="calc-itogo__text">Общая площадь:</span>
            <span class="allSquare"></span>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="calc_title">3. Введите размеры проемов (окон, дверей и т.п.)</div>
    <table id="aperture_table_add">
        <thead>
            <td class="wh">Длина проемов, м</td>
            <td class="wh">Высота проемов, м</td>
            <td class="count">Количество стен</td>
            <td></td>
        </thead>
        <tbody>
        <tr class="aperture_tr_add">
            <td class="wh">   <input class="btn calc-intp aperture_length" placeholder="0" type="text"></td>
            <td class="wh">   <input class="btn calc-intp aperture_height" placeholder="0" type="text"></td>
            <td class="count"><input class="btn calc-intp aperture_count" placeholder="1" type="text"></td>
            <td>
                <input type="hidden" id="num_wall" value="1">
                <button id="add_wall" class="btn btn-primary">Добавить размеры</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="aperture_table">
        <table class="calcTable">
            <thead>
            <th class="del" align="center"><i class="fa fa-trash-o"></i></th>
            <th class="wh">Длина стены, м</th>
            <th class="wh">Высота стены стены, м</th>
            <th class="count">Количество стен</th>
            <th class="squareTD">(S) площадь, м</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="calc-itogo">
            <span class="calc-itogo__text">Общая площадь проемов:</span>
            <span class="allSquare"></span>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="calc_title">4. Введите размеры проемов (окон, дверей и т.п.)</div>
    <table id="mansard_table_add">
        <thead>
        <td class="wh">Длина проемов, м</td>
        <td class="wh">Высота проемов, м</td>
        <td class="count">Количество стен</td>
        <td></td>
        </thead>
        <tbody>
        <tr class="mansard_tr_add">
            <td class="wh">   <input class="btn calc-intp aperture_length" placeholder="0" type="text"></td>
            <td class="wh">   <input class="btn calc-intp aperture_height" placeholder="0" type="text"></td>
            <td class="count"><input class="btn calc-intp aperture_count" placeholder="1" type="text"></td>
            <td>
                <input type="hidden" id="num_wall" value="1">
                <button id="add_wall" class="btn btn-primary">Добавить размеры</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="mansard_table">
        <table class="calcTable">
            <thead>
            <th class="del" align="center"><i class="fa fa-trash-o"></i></th>
            <th class="wh">Ширина, м</th>
            <th class="wh">Высота до конька, м</th>
            <th class="count">Количество стен</th>
            <th class="squareTD">(S) площадь, м</th>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="calc-itogo">
            <span class="calc-itogo__text">Общая площадь:</span>
            <span class="allSquare"></span>
        </div>
        <hr>
    </div>
</section>

<div class="calc_title">Результаты:</div>

    <table id="calc_result">
        <table id="calc_result_titles">
            <tbody>
                <tr>
                    <td>Количество блоков размера <span class="size_text">400*350*250</span>, шт.</td>
                    <td><input type="text" id="result_1" class="btn calc-intp" readonly=""></td>
                </tr>
                <tr>
                    <td>Объем блоков размера <span class="size_text">400*350*250</span>, м3.</td>
                    <td><input type="text" id="result_2" class="btn calc-intp" readonly=""></td>
                </tr>
                <tr>
                    <td>Количество поддонов, шт.</td>
                    <td><input type="text" id="result_3" class="btn calc-intp" readonly=""></td>
                </tr>
            </tbody>
        </table>
        <div class="progress_containter toggle_progress" style="text-align: center; display: none;"><div class="progress" style="width: 300px;"><canvas width="120" height="120"></canvas><strong>100<i>%</i></strong></div></div>
    </table>

</div>
    <div id="calc_button_wrapper">
        <a href="#" class="btn btn-success calc_button subeform  button medium color">Рассчитать</a>
    </div>


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendProject" tabindex="-1" role="dialog" aria-labelledby="sendProjectTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Отправить проект</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="kalkulyator-arbolita.html" method="post" class="send-project-form" enctype="multipart/form-data">
            <div class="left">
                <div class="row">
                    <label for="proekt_region">Город или регион <span class="blue">*</span></label>
                    <input type="text" name="proekt_region" id="proekt_region" value="">

                </div>
                <div class="row">
                    <label for="proekt_name">Контактное лицо <span class="blue">*</span></label>
                    <input type="text" name="proekt_name" id="proekt_name" value="">

                </div>
                <div class="row">
                    <label for="proekt_tel">Телефон <span class="blue">*</span></label>
                    <input type="text" name="proekt_tel" id="proekt_tel" value="">

                </div>
                <div class="row">
                    <label for="proekt_email">E-mail <span class="blue">*</span></label>
                    <input type="text" name="proekt_email" id="proekt_email" value="">

                </div>
            </div>
            <div class="right">
                <input type="file" name="proekt_file" value="">

                <p class="notice">Пожалуйста, прикрепите файл с проектом и можете написать свои пожелания здесь:</p>
                <textarea name="proekt_text" id="proekt_text" for="zayavka_text"></textarea>

                <p><a href="soglasie.html" target="_blank">Нажимая на кнопку "Отправить", вы даете  согласие на обработку своих персональных данных</a></p>
                <input type="submit" value="Отправить" class="button">
            </div>
            <div class="clear"></div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->

{{ footer }}