{{ header }}
<div id="information-information" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }} information">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {{ description }}{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="popupMiddleDeliveryPrice" tabindex="-1" role="dialog" aria-labelledby="popupMiddleDeliveryPriceTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Средний расчет по доставке</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Modal TEXT -->
        <div class="backCall">
            <span class="backCall__title">Средний расчет по доставке Арболитовых блоков<br>
            нашим спец-транспортом. Максимальная<br>
            загрузка одной единицы 30 м<sup>3</sup>.</span>
          <table class="account-catalog">
            <tbody>
            <tr>
              <th>Манипулятор</th>
              <th>Г/п стрелы</th>
              <th>Г/п борта</th>
              <th>Макс. загрузка</th>
              <th>Цена</th>
            </tr>
            <tr>
              <td>Мицубиси Борт <img alt="доставка арболита" src="/image/delivery/account1.png"></td>
              <td>8м.<br>
                г/п 3 тоны.</td>
              <td>5.3 м<br>
                г/п 5тон</td>
              <td>6 поддонов<br>
                (7.5 м3)</td>
              <td>от 3000руб.</td>
            </tr>
            <tr>
              <td>МАЗ 6303 <img alt="доставка арболита" src="/image/delivery/account2.png"></td>
              <td>5т<br>
                вылет 11м</td>
              <td>15т<br>
                длина 7 м</td>
              <td>14 поддонов<br>
                (17.6 м3)</td>
              <td>От 6000руб.<br>
                1км-70руб.</td>
            </tr>
            <tr>
              <td>Камаз 53215 <img alt="доставка арболита" src="/image/delivery/account3.png"></td>
              <td>5т<br>
                длина 11м</td>
              <td>11т<br>
                длина 6 м</td>
              <td>12 поддонов<br>
                (15 м3)</td>
              <td>От 6000руб.<br>
                1км-70руб.</td>
            </tr>
            <tr>
              <td>
                <p class="p1">
                  Вездеход<br>
                  Камаз 43118
                </p>
                <img alt="доставка арболита" src="/image/delivery/account4.png"></td>
              <td>7т<br>
                вылет 21м</td>
              <td>10т<br>
                длина 6 м</td>
              <td>Не более<br>
                11 поддонов<br>
                (14 м3)</td>
              <td>6*6+2000 руб<br>
                1км-70руб.</td>
            </tr>
            <tr>
              <td>Вездеход<br>
                Камаз 43118 <img alt="доставка арболита" src="/image/delivery/account4.png"></td>
              <td>5т<br>
                вылет 11м</td>
              <td>11т<br>
                длина 6 м</td>
              <td>12 поддонов<br>
                (15 м3)</td>
              <td>От 6000 руб.<br>
                6*6+2000 руб<br>
                1км-70руб.</td>
            </tr>
            <tr>
              <td>Шаланда
                <p class="p2">
                  (полуприцеп открытый)
                </p>
                <img alt="доставка арболита" src="/image/delivery/account5.png"></td>
              <td>20 тон.</td>
              <td>13.6 метров<br>
                ортовой<br>
                длинномер</td>
              <td>24 поддона<br>
                (30 м3)</td>
              <td>От 8000 руб.<br>
                1км-70руб.<br>
                (На большие<br>
                расстояние<br>
                предусмотрена<br>
                скидка)</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END Modal TEXT -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="popupDeliveryCity" tabindex="-1" role="dialog" aria-labelledby="popupDeliveryCityTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Доставка в города и регионы</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Modal TEXT -->
        <div class="table-city">
          <table class="city-catalog">
            <tbody>
            <tr>
              <th>город</th>
              <th>цена</th>
            </tr>
            <tr>
              <td>Апрелевка</td>
              <td>7800</td>
            </tr>
            <tr>
              <td>Балашиха</td>
              <td>14000</td>
            </tr>
            <tr>
              <td>Верея</td>
              <td>10500</td>
            </tr>
            <tr>
              <td>Видное</td>
              <td>12000</td>
            </tr>
            <tr>
              <td>Волоколамск</td>
              <td>11300</td>
            </tr>
            <tr>
              <td>Воскресенск</td>
              <td>17000</td>
            </tr>
            <tr>
              <td>Высоковск</td>
              <td>12000</td>
            </tr>
            <tr>
              <td>Голицыно</td>
              <td>6400</td>
            </tr>
            <tr>
              <td>Дзержинский</td>
              <td>14500</td>
            </tr>
            <tr>
              <td>Дмитров</td>
              <td>12000</td>
            </tr>
            <tr>
              <td>Долгопрудный</td>
              <td>12000</td>
            </tr>
            <tr>
              <td>Домодедово</td>
              <td>11300</td>
            </tr>
            <tr>
              <td>Дрезна</td>
              <td>19000</td>
            </tr>
            <tr>
              <td>Дубна</td>
              <td>15500</td>
            </tr>
            <tr>
              <td>Егорьевск</td>
              <td>19000</td>
            </tr>
            <tr>
              <td>Железнодорожный</td>
              <td>17000</td>
            </tr>
            <tr>
              <td>Жуковский</td>
              <td>15500</td>
            </tr>
            <tr>
              <td>Зарайск</td>
              <td>20400</td>
            </tr>
            <tr>
              <td>Звенигород</td>
              <td>5500</td>
            </tr>
            <tr>
              <td>Зеленоград</td>
              <td>8900</td>
            </tr>
            <tr>
              <td>Ивантеевка</td>
              <td>14000</td>
            </tr>
            <tr>
              <td>Истра</td>
              <td>6000</td>
            </tr>
            <tr>
              <td>Кашира</td>
              <td>16200</td>
            </tr>
            <tr>
              <td>Климовск</td>
              <td>10400</td>
            </tr>
            <tr>
              <td>Клин</td>
              <td>11300</td>
            </tr>
            <tr>
              <td>Коломна</td>
              <td>17600</td>
            </tr>
            </tbody>
          </table>

          <table class="city-catalog">
            <tbody>
            <tr>
              <th>город</th>
              <th>цена</th>
            </tr>
            <tr>
              <td>Королев</td>
              <td>14800</td>
            </tr>
            <tr>
              <td>Котельники</td>
              <td>16200</td>
            </tr>
            <tr>
              <td>Красмоармейск</td>
              <td>14100</td>
            </tr>
            <tr>
              <td>Красногорск</td>
              <td>8000</td>
            </tr>
            <tr>
              <td>Краснознаменск</td>
              <td>7100</td>
            </tr>
            <tr>
              <td>Кубинка</td>
              <td>6600</td>
            </tr>
            <tr>
              <td>Ликино-Дулево</td>
              <td>20400</td>
            </tr>
            <tr>
              <td>Лобня</td>
              <td>12000</td>
            </tr>
            <tr>
              <td>Луховицы</td>
              <td>23200</td>
            </tr>
            <tr>
              <td>Лыткарино</td>
              <td>14500</td>
            </tr>
            <tr>
              <td>Люберцы</td>
              <td>15500</td>
            </tr>
            <tr>
              <td>Можайск</td>
              <td>10600</td>
            </tr>
            <tr>
              <td>Мытищи</td>
              <td>14800</td>
            </tr>
            <tr>
              <td>Нахабино</td>
              <td>7200</td>
            </tr>
            <tr>
              <td>Наро-Фоминск</td>
              <td>9200</td>
            </tr>
            <tr>
              <td>Ногинск</td>
              <td>17600</td>
            </tr>
            <tr>
              <td>Одинцово</td>
              <td>8000</td>
            </tr>
            <tr>
              <td>Ожерелье</td>
              <td>17600</td>
            </tr>
            <tr>
              <td>Озеры</td>
              <td>18300</td>
            </tr>
            <tr>
              <td>Орехово-Зуево</td>
              <td>19000</td>
            </tr>
            <tr>
              <td>Павловский Госад</td>
              <td>20000</td>
            </tr>
            <tr>
              <td>Подольск</td>
              <td>10600</td>
            </tr>
            <tr>
              <td>Протвино</td>
              <td>14800</td>
            </tr>
            <tr>
              <td>Пушкино</td>
              <td>14000</td>
            </tr>
            <tr>
              <td>Пущино</td>
              <td>14800</td>
            </tr>
            <tr>
              <td>Раменское</td>
              <td>15500</td>
            </tr>
            </tbody>
          </table>

          <table class="city-catalog">
            <tbody>
            <tr>
              <th>город</th>
              <th>цена</th>
            </tr>
            <tr>
              <td>Реутов</td>
              <td>16800</td>
            </tr>
            <tr>
              <td>Рошаль</td>
              <td>23200</td>
            </tr>
            <tr>
              <td>Руза</td>
              <td>9000</td>
            </tr>
            <tr>
              <td>Сергиев Посад</td>
              <td>15500</td>
            </tr>
            <tr>
              <td>Серпухов</td>
              <td>14500</td>
            </tr>
            <tr>
              <td>Воскресенск</td>
              <td>17000</td>
            </tr>
            <tr>
              <td>Солнечногорск</td>
              <td>10000</td>
            </tr>
            <tr>
              <td>Сторонницы</td>
              <td>13400</td>
            </tr>
            <tr>
              <td>Стремилово</td>
              <td>12700</td>
            </tr>
            <tr>
              <td>Ступино</td>
              <td>15500</td>
            </tr>
            <tr>
              <td>Сходня</td>
              <td>9000</td>
            </tr>
            <tr>
              <td>Талдом</td>
              <td>16000</td>
            </tr>
            <tr>
              <td>Троицк</td>
              <td>9200</td>
            </tr>
            <tr>
              <td>Фрязино</td>
              <td>15500</td>
            </tr>
            <tr>
              <td>Химки</td>
              <td>10600</td>
            </tr>
            <tr>
              <td>Хотьково</td>
              <td>14200</td>
            </tr>
            <tr>
              <td>Черноголовка</td>
              <td>15500</td>
            </tr>
            <tr>
              <td>Чехов</td>
              <td>12700</td>
            </tr>
            <tr>
              <td>Шатура</td>
              <td>21500</td>
            </tr>
            <tr>
              <td>Щелково</td>
              <td>16000</td>
            </tr>
            <tr>
              <td>Щербинка</td>
              <td>11000</td>
            </tr>
            <tr>
              <td>Электрогорск</td>
              <td>18000</td>
            </tr>
            <tr>
              <td>Электросталь</td>
              <td>17800</td>
            </tr>
            <tr>
              <td>Юбилейный</td>
              <td>13000</td>
            </tr>
            <tr>
              <td>Яхрома</td>
              <td>11300</td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- END Modal TEXT -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="popupFotoReport" tabindex="-1" role="dialog" aria-labelledby="popupFotoReportTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Фото-отчет по доставке</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Modal TEXT -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block w-100" src="..." alt="First slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="..." alt="Second slide">
            </div>
            <div class="carousel-item">
              <img class="d-block w-100" src="..." alt="Third slide">
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!-- END Modal TEXT -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- END Modal -->

{{ footer }}